@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'PressStart';
    src: url('../PressStart2P-Regular.ttf') format('truetype');
  }

@keyframes blinker {
    50% {
      opacity: 0.1;
    }
}

body {
    background-color: #343d52;
    font-family: 'Press Start 2P', cursive;
}

a {
    color: #5d6475
}

a:hover {
    color: black
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#scoreboard {
    text-align: center;
    padding-top: calc((100% - 520px)/4);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 720px;
    padding-bottom: 10px
}

#intro {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#intro_footer {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

canvas {
    width: 720px;
    height: 520px;
    border: 1px dashed #5d6475;
    margin: 0;
}

#footer {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings, #instructions, #credits {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.blink {
    animation: blinker 1s linear infinite;
  }

.red {
    color: red
}

.selected {
    background-color: #5d6475;
}

#exit:hover {
    color: red
}

#settings-btn, #instructions-btn, #credits-btn, .grey {
    color: #5d6475
}

#settings-btn:hover, #instructions-btn:hover, #credits-btn:hover {
    color: black
}

#rotate-phone {
    display: none;
}

#left-controls, #right-controls {
    display: none;
}


@media (max-width: 668px), (max-height: 420px) {
    body {
        background-color: #343d52;
        font-family: 'Press Start 2P', cursive;
        font-size: 0.7em;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    #scoreboard {
        padding-top: 5px;
        width: auto;
        padding-bottom: 5px;
    }
    
    canvas {
        width: 415px;
        height: 300px;
    }

    #instructions {
        font-size: 0.65em;
    }

    #left-controls {
        display: block;
        width: 15%;
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #5d6475
    }

    #right-controls {
        display: block;
        width: 15%;
        height: 90%;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #5d6475
    }

    #left-top, #left-middle, #left-bottom, #right-top, #right-middle, #right-bottom {
        height: 30%;
        text-align: center;
        padding: 10% 0 0 0;
    }

    i {
        text-shadow: 2px 2px black;
    }

    i:hover {
        color: black
    }

  }

  @media only screen and (orientation: portrait) {
    #left-controls, #right-controls {
        display: none
    }

    #container {
        display: none;
    }

    #rotate-phone {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2em;
        line-height: 200%;
    }
  }
  