@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'PressStart';
    src: url('../PressStart2P-Regular.ttf') format('truetype');
  }

body {
    background-color: #343d52;
    font-family: 'Press Start 2P', cursive;
}

#scoreboard {
    text-align: center;
    padding-top: 25px
}

canvas {
    width: 720px;
    height: 520px;
    border: 1px dashed #5d6475;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
